/* .header { grid-area: header; }
.main { grid-area: main; }
.right { grid-area: right; }
.footer { grid-area: footer; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    ' main main main right'
    ' footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > section {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */
*{
  box-sizing: border-box;
}
.container{
  position: absolute;
    margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header{
  background-color: #A3E8DD;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  display: flex;
  justify-content: center;


}
.logo{
width: 150px;
height: 50px;
background-image:url('https://cdn-images-1.medium.com/max/1600/1*DFcaAvca6kvNa-6EYMYYdA.png');
background-size: cover;
position: fixed;
left: 0;
}

.logout{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* position: fixed;
  right: 0; */

}
.right{
position:  fixed;
right: 0;
width: 15%;
  /* align-self: flex-end; */
  /* margin-left: auto; */
  display: flex;
  /* align-items: s; */
  flex-direction: row;

}
.right div{
display: flex;
align-items: flex-end;

}
.main{
  margin-top: 10px;
  width: 75%;
}
.middle{
  display: flex;
  align-items: flex-end;
}
/* .right{
  width: 25%
} */
.green{
  color:green;
}






.main{
display: flex;
flex-direction: column;

}
.postHome{
display: flex;
flex-direction: row;
border: 1px solid black;
justify-content: flex-start;
}

.imgPostHome a img {
  width: 25%;
  min-width: 100px;
  height: auto;
}
.postLikeDiv{
  margin: 0 auto;
  text-align: center;
  width: 5%;
  display: flex;
  align-items: center;
}
.imgPostHome{
  display: flex;
  align-items: center;
  width: 20%;
}
.postDescHome{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.singlePost{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
}

.imgPostSingle,.imgPostSingle a img {
width: 100%;
max-width: 600px;

}
.postDescSingle{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
p{
  margin: 5px;
}
.postTitleSingle{
  font-family: sans-serif;
  font-weight: 600;
}
.column ,.postLikeDivSingle{
  display: flex;
  justify-content: center;
}
.postDescreptionSingle{
  overflow:  auto;
}
.mainComments{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
width: 100%;
}
.commentContent{
  text-indent: 50px;
}
.addComment{
  width: 100%;
}
/* .votesCount{
  pointer-events: none;
} */

.createPostHomeForm input {
  display: block;
}
