.grid-container {
  margin: 0;
  padding: 0;
}
.createPostHome {
  width: 600px;
  margin: 0 auto;
  background: #ebebeb;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid #d5620082;
  z-index: 999;
  position: absolute;
  left: 26vw;
}

.createPostHome input , .createPostHome textarea , .createPostHome label{
  display: block;
  margin: 20px;
  width: 90%;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.createPostHome button {
  margin: 0 28px;
  padding: 10px;
  width: 113px;
  background: #ef5305;
  border-radius: 8px;
  border: 0;
  color: #f3eded;
  font-size: 20px;
  cursor: pointer;
}

.createPostHome .inputfile {
  display: none;
}

.upload-btn{
  margin: 0 28px;
  padding: 10px;
  width: 113px;
  background: #c4c3c3;
  border-radius: 8px;
  border: 0;
  color: #f3eded;
  font-size: 20px;
  cursor: pointer;
 }
.hidden {
  display: none;
}

.new--post {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 30px;
  height: 30px;
  background: #e15c00;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  
}

.header {
  background: #f6f3f1;
  border-bottom: 1px solid #ddd6d6;
}

.pull--left {
  float: left;
}

.pull--right {
  float: right;
}


.logo img {
     width: auto;
    height: 50px;
    margin: 10px;
}

.clear {
  clear: both;
}