body {
  font-family: 'Pangolin', cursive;

}
.grid-container {
  margin: 0;
  padding: 0;
  background: #dce1e7;
}
.createPostHome {
  width: 600px;
  margin: 0 auto;
  background: #ebebeb;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid #d5620082;
  z-index: 999;
  position: fixed;
  left: 26vw;
}

.createPostHome input , .createPostHome textarea , .createPostHome label{
  display: block;
  margin: 20px;
  width: 90%;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.createPostHome button {
  margin: 0 28px;
  padding: 10px;
  width: 113px;
  background: #ef5305;
  border-radius: 8px;
  border: 0;
  color: #f3eded;
  font-size: 20px;
  cursor: pointer;
}

.createPostHome .inputfile {
  display: none;
}

.upload-btn{
  margin: 0 28px;
  padding: 10px;
  width: 113px;
  background: #c4c3c3;
  border-radius: 8px;
  border: 0;
  color: #f3eded;
  font-size: 20px;
  cursor: pointer;
 }
.hidden {
  display: none;
}
.green{
  color: green;
}
.new--post {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 30px;
  height: 30px;
  background: #e15c00;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;

}

.header {
  background: #f6f3f1;
  border-bottom: 1px solid #ddd6d6;
}

.pull--left {
  float: left;
}

.pull--right {
  float: right;
}


.logo img {
     width: auto;
    height: 50px;
    margin: 10px;
}

.clear {
  clear: both;
}

.postHome , .singlePost {
  margin: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
}

.postHome  img , .singlePost img{
  width: 100%;
}
.fas {
  cursor: pointer;
}

.postTitleHome p , .postTitleSingle p{
  font-weight: 700;
  font-size: 25px;

}

.userHeader img , .postOwnerHome img {
  border-radius: 50%;
    width: 30px;
}
.userHeader img {
  margin: 10px;

}

.userHeader i {
  margin: 14px 0;
}

.user--info {
  margin: 10px;
}
.postOwnerHome p {

  margin: 5px 10px;
}

.logout {
  width: 115px;
  padding: 20px;
  background: #ede8e5;
  border: 1px solid #ffdddd;
  position: absolute;
  top: 60px;
}

.logout a {
  color: #242121;
  text-decoration: none;
  display: block;
  padding: 13px 0 7px 0px;
  border-bottom: 1px solid;
}

.login a {
  margin: 2px 8px;
  width: 60px;
  padding: 10px;
  background: #ede8e5;
  border: 1px solid #ffdddd;
  display: inline-block;
  text-decoration: none;
  color: #4f4b4b;
}
.user--info {
  cursor: pointer;
}

.postDescreptionSingle p::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: red;
}

#commentAdd input{
  width: 98%;
  padding: 10px;
  border: 1px solid ;
  border-radius: 5px;
}

.login_signup {
  width: 400px;
  background: #f6f3f3;
  margin: 20vh auto;
  padding: 20px;
  border-radius: 10px;
}

.login_signup input, label {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  border: 0;
}

.login_signup button , .login_signup input[type="submit"]{
  background: #5b5050;
  padding: 10px;
  margin: 20px 0px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 200px;
}

.login_signup h6 {
  width: 90%;
  background: #f89595;
  padding: 10px;
  color: #fff;
}

.mainComments {
  background: #f5f5f5;
  border-radius: 20px;
  padding: 5px 0 5px 25px;
  margin: 15px 0;
  border: 1px solid #dcd9d9;
}
