
    <div class="errorMsg">
<h1>404 page Not Found </h1>
<img src="https://cdn.searchenginejournal.com/wp-content/uploads/2013/02/reddit404top.png" alt="">
<h2>rgdsrsg</h2>
    </div>
    <div class="errorImage">

    </div>
