<form class="login_signup" action="/login" method="post">
  <h1>Welcome Back!</h1>
  <label for="usernameLogin">User Name</label>
  <input type="text" name="username" id="usernameLogin" placeholder="user name ...">
  <label for="passwordLogin">Password</label>
  <input type="text" name="password" id="passwordLogin" placeholder="password ...">
  <button type="submit">Log In</button>

</form>
