
    <div class="errorMsg">
<h1>500 Server Error</h1>
    </div>
    <div class="errorImage">
<img src="http://old.marcofolio.net/images/stories/fun/other/error_handling/reddit.png" alt="">
    </div>
