<section class="header">
  <div class="logo left">


</div>

<div class="right">
  {{#if username}}
  <div class="userHeader">
    <p>{{username}}</p>
  </div>
  {{/if}}
  {{#if logged}}
  <div class="logout right">
    <a href="/logout">
      <button type="button" name="button">Log Out</button>
    </a>
  </div>
{{else}}

<div class="login right">
  <a href="/login">
    <button type="button" name="button">Log In</button>
  </a>
</div>

{{/if}}
</div>
</section>
