
<div class="searchHome">
  <!-- <form class="searchHomeForm" action="/search" method="post">
    <input type="text" name="search">
    <button type="submit" name="button">Search</button>

  </form> -->
</div>
<div class="createPostHome">
  <form class="createPostHomeForm" action="/createPost" method="post" encType="multipart/form-data">
      <input type="text" name="postTitle" placeholder="postTitle">
        <textarea name="postContent" rows="8" cols="20" placeholder="postContent"></textarea>
        <input type="file" name="imageFile" >
        <button type="submit" name="button">Post</button>

  </form>

</div>
